body {
  margin: 0;
  font-size: 16px;
}

a {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  margin-top: 16px;
  text-align: center;
  width: 700px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}

.box {
  display: inline-block;
  position: absolute;
  cursor: move;
}

.addOpacity {
  opacity: 0.3;
}